* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

body{
	text-align: justify;
	background: #f5f5f5;

}

section{
	margin-top: 15px;
	margin-left: 100px;
	margin-right: 370px;
	overflow: hidden;

}

section article{
	background-color: white;
	font-size: 0.9rem;
	height: 350px;
	float: left;
	width: 300px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 35px;
	

}

.centry{
	margin-left: 25px;
	margin-right: 25px;
}

.combo{
margin-right:25px;
}

section article img{
	height: 180px;
	max-width: 80%;
	margin: 5px auto;
	display: block;
}

h3{
	text-align: center;
	color: black;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 20px;
}

.boton {
background-color: rgba(250,184,43,1);
border-radius: 15px;
width: 150px;
height: 40px;
color: #fff;
font-family: 'Century Gothic';
margin-top: 3PX;
margin-left: 140PX;
}

.boton:hover{
	transform: scale(1.1);
}